{
    "extends": "airbnb-base",
    "rules": {
        "no-unused-vars": "off",
        "default-param-last": "off",
        "max-classes-per-file": "off"
    },
    "plugins": [
        "jest"
    ],
    "env": {
        "jest": true
    }
}
